---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Adrian - Frontend Developer & Web Designer. Tworzę nowoczesne strony internetowe z Vue.js, Astro, Tailwind CSS." />
		<title>Adrian - Frontend Developer & Web Designer</title>
	</head>
	<body>
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
		<ScrollToTop 
			threshold={400}
			size="md"
			position="bottom-right"
			showProgress={true}
		/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
